@import "../../colors.css";

.o-btn-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.o-button-add{
    border: none;
    width: 68px;
    height: 50px;
    background-color: var(--colorRojo);
    border-radius: 50%;
    color: white;
    font-size: 31px;
}