.l-img{
    height: 25px;
    width: 25px;
    opacity: 60%;
}

.ord{
    display: flex;
    padding: 5px;    
    align-items:flex-end;
}

.opcionTabla{
    padding: 0px 0px 0px 10px;
    font-size: 1.05rem;
}