@import "colors.css";

.botonPrincipall{
    font-family: 'Roboto', sans-serif;
    background-color: var(--colorRojo);
    border: none;
    color:  var(--colorPrimario);
    text-align: center;
    text-decoration: none;
    font-size: 0.825rem;
    border-radius: 5px;    
}