@import "../colors.css";

.fondoGris{
    display: flex;
    flex-direction: column;
    background: var(--colorSecundario);
    height: 100vh;
    overflow-y: hidden;
}
.o-index-space{

    height: 100%;
}

.o-login-container{
    height: 15rem;
        width: 17rem;
}