@import "../colors.css";

.fondoGris{
    display: flex;
    flex-direction: column;
    background: var(--colorSecundario);
    height: 100vh;
    overflow-y: hidden;
}
.o-index-space{

    height: 100%;
}

.o-login-container{
    height: 80vh;
    width: 27rem;
    margin-bottom: 0px;
}

.btn-agregar{
    background: var(--colorRojo);
    color: var(--colorPrimario);;
}

.img-login{
    height: 100px;
    width: 100px;
    padding: 10px;
}

.o-icono{
    height: 50px;
    width: 50px;
    padding: 10px;
}

.o-input{
    width: 350px;
    
}

.o-btn-login-primary{
    width: 350px;
    padding: 10px;
    text-align: center;
    background-color: var(--colorRojo);  ;
    color: var(--colorPrimario);
}