@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --colorPrimario: #fffFFF;
    --colorSecundario: #F1F3F4;
    --colorTerciario: #C4C4C4;
    --colorFont1: #3C4042;
    --colorFont2: #666A6E;
    --colorRojo:#D93025;
}